.config-tools {
  display: flex;
  padding: 12px;
}

.tool-item {
  margin: 0 12px;
}

.check-box-item {
  display: flex;
  align-items: center;
}

.select-item {
  min-width: 120px;
  min-height: 24px;
}

.check-box-item > input {
  margin-right: 3px;
}

.inport-number {
  outline: none;
}